.employee {
  position: relative;
  width: 280px;
}

.employee__deleteBtn {
  position: absolute;
  top: 12px;
  right: 12px;

  color: #FFF;
  cursor: pointer;
}

.employee__header {
  background-color:  #F0F0F0;
  border-radius: 10px 10px 0px 0px;
  min-height: 100px;
}

.employee__photo {
  position: relative;
  bottom: -50px;
  
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.employee__footer {
  background: #FFFFFF;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 10px 10px;
  padding-top: 90px;
  padding-bottom: 30px;
}

.employee__footer h4 {
  color: #6278F7;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  margin-bottom: 8px;
}

.employee__footer h5 {
  color: #707070;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  padding: 0 16px;
}

.favoriteIcon {
  cursor: pointer;
  margin-top: 25px;
}
